/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Color Palette */
:root {
    --bg-gray: #3A546D;
    --bg-dark: #2C3E50;
    --bg-aqua: #1ABC9C;
}

/* Base */
.h-16 {
    height: 4.5rem;
}

/* Header */
.bg-gray {
    background-color: var(--bg-gray);
}

/* Main */
.bg-aqua {
    background-color: var(--bg-aqua);
}

.container .content{
    height: 300px;
}